/* ------------------- */
/*V A R I A B L E*/
/* ------------------- */

:root {
    --ff-heading: "Russo one", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #41B06E;
    --color-second: #9B9B9A;
    --color-fourth: #FFF5E0;
    --color-fiveth: #8DECB4;


}

/* ------------------- */
/*P R E L O A D*/
/* ------------------- */
body:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-hover.png.png) url(../images/btn-active.png.png);

}

/* ------------------- */
/*G E N E R A L*/
/* ------------------- */


body {
    background-color: var(--color-second);
    /* background: linear-gradient(to bottom, #AEE2FF 40%, #372948 100%); */
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background: url(../images/bg-main.png) no-repeat center;
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;

        header {
            margin-top: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.btn-back:is(:link, :visited) {
                transition: transform 0.2s ease-in;
            }

            a.btn-back:is(:hover) {
                transform: translateX(-4px);
            }
        }

        header {
            position: relative;
            z-index: 3;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-fourth);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }

        nav.nav {
            background-color: #0009;
            -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 8rem;
            opacity: 0;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(20%);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;

            img.title-menu {
                margin-block: 2rem;
            }
        }

        nav.nav.active {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                color: var(--color-fourth);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.3s ease-in;
                text-decoration: none;
                width: 300px;
            }

            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-5px);
            }

            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }

        section.scroll{
        scrollbar-width: none;
        overflow-y: scroll;
        height: 640px;
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;
                transition: all 0.3s ease-in;
                width: 300px;
            }

            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-5px);
            }

            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }
    }
}

body.catalogue-main {
    background-color: var(--color-fourth);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background: url(../images/btn-catalogue-main.png) no-repeat center;
        height: 800px;
        overflow: hidden;
        width: 400px;
    }
}

/* ------------------- */
/*01- W E L C O M E*/
/* ------------------- */

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-start: 4rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 306px;
                width: 290px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 44px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.svg) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(4px);
            }
        }

        div.owl-dots {
            position: relative;
            top: -46px;

            button {
                transition: transform 0.2s ease-in;
            }

            button:is(:hover) {
                transform: scale(1.1);
            }

            button.owl-dot {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }


}

/* ------------------- */
/*C A T A L O G U E*/
/* ------------------- */

main.catalogue {
   
    scrollbar-width: none;
    overflow: scroll;

    img.logo-top {
        width: 200px;
        height: auto;
    }

    section.scroll {
        

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            input {
                border: none;
                background: url(../images/bg-filter.svg) no-repeat 250px center,
                            url(../images/bg-input-filter.png) no-repeat center;

              color: black;
               font-size: 20px;
                height: 50px;
                width: 298px;
                outline: none;
                text-indent: 10px;
                font-weight: bold;
                &::placeholder {
                    opacity: 0.7;
                    color: var(--color-fourth);
                }
            }
        }

        article {
            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--ff-heading);
                font-size: 20px;
                align-items: center;
                color: #FFF5E0;
                margin-bottom: 1rem;
                gap: 0.1rem;


            }

            figure {
                figcaption {
                    color: var(--color-fourth);
                    font-weight: 400;
                    margin-block: 0.6rem;
                    font-size: 16px;
                }
            }

            a:is(:link, :visited) {
                background: url(../images/btn-view.pn)no-repeat center;
               
                color: var(--color-fourth);
                height: 30px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 300;
                justify-content: center;
                transition: all 0.3s ease-in;
                gap: 0.6rem;
                text-decoration: none;
                width: 120px;

                img {
                    width: 18px;
                 
                }
            }

            a:is(:hover) {
                background: url(../images/btn-view-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-5px);
            }

            a:is(:active) {
                background: url(../images/btn-view-active.png) no-repeat center;
            }
        }

        div.owl-carousel {
            height: 216px;

            div.owl-item {
                display: flex;
                position: relative;
                justify-content: center;
                z-index: 3;

                img.slide {
                    height: 120px;
                    width: 120px;
                }
            }

            div.owl-nav {
                position: relative;
                top: -168px;
                display: flex;
                justify-content: space-between;

                button {
                    transition: transform 0.2s ease-in;

                    span {
                        display: flex;
                        height: 44px;
                        width: 44px;
                        text-indent: -9999px;
                    }
                }

                button:is(:hover) {
                    background-color: transparent;
                }

                button.owl-prev {
                    span {
                        background: url(../images/vector-prev.svg) no-repeat center;
                    }
                }

                button.owl-prev:hover {
                    transform: scale(1.1) translateX(-4px);
                }

                button.owl-next {
                    span {
                        background: url(../images/vector-next.svg) no-repeat center;
                    }
                }

                button.owl-next:hover {
                    transform: scale(1.1) translateX(4px);
                }
            }

        }
    }
}


/* ------------------- */
/*V I E  G A M E*/
/* ------------------- */
main.view-game {
    header {
        margin-bottom: 0.5rem;

        h1 {
            font-family: var(--ff-heading);
            font-size: 26px;
            color: var(--color-fourth);
        }

    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        article {
            display: flex;
            flex-direction: column;
            gap: 0.9rem;
            width: 296px;

            div.row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div.column {
                    h4 {
                        font-family: var(--ff-heading);
                        color: var(--color-fourth);
                        font-size: 20px;
                    }
                }

                p {
                    font-family: var(--ff-body);
                    color: var(--color-fourth);
                    font-size: 16px;
                    line-height: 1.4rem;
                    text-align: justify;

                    &.price {
                        color: var(--color-fourth);
                        font-weight: 400;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}



/* ------------------
   03- LOGIN
------------------ */
main.register,
main.login {

    header {

        .btn-back {
            visibility: hidden;
            pointer-events: none;
        }
    }

    section {
          
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            div.form-group {
               
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                position: relative;

                gap: 0.6rem;
                width: 300px;

                label {
                    display: flex;
                    color: var(--color-fourth);
                    font-family: var(--ff-heading);
                    align-items: center;
                    gap: 0.6rem;
                    font-size: 20px;
                }

                input {
                    border: none;
                    background: url(../images/busqueda.svg) no-repeat center;
                    outline: none;
                    font-size: 20px;
                    font-weight: bold;
                    color: black;
                    text-indent: 1rem;
                    height: 60px;
                    width: 300px;

                    &::placeholder {
                        color: black;
                        opacity: 0.2;
                        
                    }
                }

                img.icon-eye {
                    cursor: pointer;
                    position: absolute;
                    top: 54px;
                    right: 10px;
                    margin-top: -0.7rem;
                    margin-right: 0.8rem;
                }

                button{
                    background: url(../images/btn.png) no-repeat center;
                    color: var(--color-fourth);
                    border: none;
                    height: 65px;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    justify-content: center;
                    gap: 1rem;
                    display: flex;
                    text-decoration: none;
                    width: 300px;
                    margin-top: 2rem;

                button:is(:hover){
                    background-color: var(--color-fourth);
                    transform: scale(1.02) translateY(-5px);
                }
            
                button:is(:active){
                    background: url(../images/btn-hover.png) no-repeat center;
                }

                a:is(:link, :visited){
                    color:wheat;
                    font-family:var(--ff-body);
                    margin-top: 0.6rem;
                    font-size:16px;
                    font-weight: 700;
                    justify-content: center;
                }
                

                }
                .border{
                    cursor: pointer;
                    position: absolute;
                    left: 50px;
                    top: 0;
                }

                .mask{
                    mask-image:url(../images/shape-photo.svg);
                    mask-repeat: no-repeat;
                    mask-position: center top;
                    object-fit: cover;
                    align-self: center;
                    position: relative;
                    height: 200px;
                    width: 200px;
                }
                
                #photo{
                    display: none;
                }
            }
        }
    }
}