/* ------------------
    VARIABLES
------------------ */
:root{
    --ff-heading: "Russo one", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #41B06E;
    --color-second: #141E46;
    --color-fourth: #FFF5E0;
    --color-fiveth: #8DECB4;

}

/* ------------------
    PRELOAD
------------------ */
body:after{
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-active.png) url(../images/btn-hover.png);
}


/* ------------------
    general
------------------ */
body{
    background-color: var(--color-fourth);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    main {
        background-color: var(--color-second);
        height: 800px;
        overflow: hidden;
        width: 400px;
        position:relative;
        header{
            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;
                z-index: 3;
                .line {
                    fill:none;
                    transition: stroke-dasharray 400ms, 
                                stroke-dashoffset 400ms;
                    stroke: var(--color-fourth);
                    stroke-width: 4;
                    stroke-linecap: round;
                }
                .top {
                  stroke-dasharray: 40 121;
                }
                .bottom {
                  stroke-dasharray: 40 121;
                }
              }
              svg.btn-burger.active {
                transform: rotate(45deg);
                .top {
                  stroke-dashoffset: -68px;
                }
                .bottom {
                  stroke-dashoffset: -68px;
                }
              }
        }
        nav.nav {
            -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
            border-radius: 20px;
            height: 800px;
            padding: 8rem;
            position: absolute;
            top: 0;
            transform: translateY(-100%) scale(20%);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;
        }
        nav.nav.active {
            transform: translateY(0%);
            transform: translateY(0) scale(1);
        }
        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a:is(:link, :visited) {
                color: var(--color-fourth);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }
            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }
            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }
    }
    }
main.welcome{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.9rem;
        margin-right: 0.1rem;;
    }

    section.owl-carousel{
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                height: 306px;
                width: 306px;
            }
        }
        
    div.owl-nav{
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;
            button{
                transition: transform 0.2s ease-in;
                span{
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover){
                background-color: transparent;
            }
            button.owl-prev{
                span{
                    background: url(../images/btn-prev.svg) no-repeat center /contain;
                }
            }
            button.owl-prev:hover{
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next{
                span{
                    background: url(../images/btn-next.svg) no-repeat center /contain;
                }
            }
            button.owl-next:hover{
                transform: scale(1.1) translateX(4px);
            }
        }
        div.owl-dots{
            position: relative;
            top: -46px;
            button{
                transition: transform 0.2s ease-in;
            }
            button:is(:hover){
                transform: scale(1.1);
            }
            button.owl-dot{
                span{
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }
            button.owl-dot.active,
            button.owl-dot:is(:hover){
                span{
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        a:is(:link, :visited){
            background: url(../images/btn-hover.png) no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-in;
            width: 300px;
        }
    }
    a:is(:hover){
        transform: scale(1.02) translateY(-5px);
    }
}

/* ------------------
    catalogue
------------------ */

main.catalogue{
scrollbar-width:none;
    overflow:scroll;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.btn>back:is(:link,visited){
            transform: transform 0.4s ease-in;
        }
        a.btn-back:is(:hover){
            transform: translateX(-4px);
        }
    }
}