/* ------------------
    VARIABLES
------------------ */
:root{
    --ff-heading: "Russo one", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #41B06E;
    --color-second: #141E46;
    --color-fourth: #FFF5E0;
    --color-fiveth: #8DECB4;

}

/* ------------------
    PRELOAD
------------------ */
body:after{
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-active.png) url(../images/btn-hover.png);
}


/* ------------------
    general
------------------ */
body{
    background-color: var(--color-fourth);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    main {
        background-color: var(--color-second);
        height: 800px;
        overflow: hidden;
        width: 400px;
        position:relative;
        header{
            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;
                z-index: 3;
                .line {
                    fill:none;
                    transition: stroke-dasharray 400ms, 
                                stroke-dashoffset 400ms;
                    stroke: var(--color-fourth);
                    stroke-width: 4;
                    stroke-linecap: round;
                }
                .top {
                  stroke-dasharray: 40 121;
                }
                .bottom {
                  stroke-dasharray: 40 121;
                }
              }
              svg.btn-burger.active {
                transform: rotate(45deg);
                .top {
                  stroke-dashoffset: -68px;
                }
                .bottom {
                  stroke-dashoffset: -68px;
                }
              }
        }
        nav.nav {
            -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
            border-radius: 20px;
            height: 800px;
            padding: 8rem;
            position: absolute;
            top: 0;
            transform: translateY(-100%) scale(20%);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;
        }
        nav.nav.active {
            transform: translateY(0%);
            transform: translateY(0) scale(1);
        }
        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a:is(:link, :visited) {
                color: var(--color-fourth);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }
            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }
            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }
    }
    body.catalogue-main {
        background-color: var(--color-fourth);
        font-family: var(--ff-body);
        font-weight: 100;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        main {
            background: url(../images/btn-catalogue-main.png) no-repeat center;        
            height: 800px;
            overflow: hidden;
            width: 400px;
        }
    }
    }

    /* welcome*/
main.welcome{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.9rem;
        margin-right: 0.1rem;;
    }

    section.owl-carousel{   
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                height: 306px;
                width: 306px;
            }
        }
        
    div.owl-nav{
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;
            button{
                transition: transform 0.2s ease-in;
                span{
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover){
                background-color: transparent;
            }
            button.owl-prev{
                span{
                    background: url(../images/btn-prev.svg) no-repeat center /contain;
                }
            }
            button.owl-prev:hover{
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next{
                span{
                    background: url(../images/btn-next.svg) no-repeat center /contain;
                }
            }
            button.owl-next:hover{
                transform: scale(1.1) translateX(4px);
            }
        }
        div.owl-dots{
            position: relative;
            top: -46px;
            button{
                transition: transform 0.2s ease-in;
            }
            button:is(:hover){
                transform: scale(1.1);
            }
            button.owl-dot{
                span{
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }
            button.owl-dot.active,
            button.owl-dot:is(:hover){
                span{
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        a:is(:link, :visited){
            background: url(../images/btn-hover.png) no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s ease-in;
            width: 300px;
        }
    }
    a:is(:hover){
        transform: scale(1.02) translateY(-5px);
    }
}

/* ------------------
    catalogue
------------------ */

main.catalogue {
   
    header {
        margin-top: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.btn-back:is(:link, :visited) {
            transition: transform 0.2s ease-in;
        }
        a.btn-back:is(:hover) {
            transform: translateX(-4px);
        }
    }
    section.scroll{
        scrollbar-width: none;
        overflow-y: scroll;
        height: 610px;
    }
    img.logo-top {
        width: 200px;
        height: auto;
    }
    article{
        h2{ 
        display: flex;
        justify-content: center;
        font-family:var(--ff-heading);
        font-size: 20px;
        align-items: center;
        color: rgb(0, 0, 0);
        margin-bottom: 1rem;
        gap: 0.1rem;
            
    }
    figure{
        figcaption{
            
        }
    }
    }
    div.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            img {
                height: 120px;
                width: 120px;
            }
        }
        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;
            button {
                transition: transform 0.2s ease-in;
                span {
                    display: flex;
                    height: 44px;
                    width: 44px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover) {
                background-color: transparent;
            }
            button.owl-prev {
                span {
                   background: url(../images/btn-prev.svg) no-repeat center; 
                }
            }
            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next {
                span {
                   background: url(../images/btn-next.svg) no-repeat center; 
                }
            }    
            button.owl-next:hover {
                transform: scale(1.1) translateX(4px);
            }
        }    
   
}}
/* ------------------- */
/*02- C A T A L O G U E*/
/* ------------------- */
/* 
main.catalogue{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-start: 2.7rem;
        
    }

    h2 {
        font-family: var(--ff-body);
        font-size: 25px;
        color: #FFFFFF;
        margin-bottom: auto;
    }
    section.filter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;       
     
        input.btn-filter {
            background: url(../images/filter-icon.svg)
            no-repeat 250px;
            display: flex;
            justify-content: center;
            align-items: center;         
            height: 50px;
            width: 300px;
            border-radius: 25px;
            border:3px solid #FFFFFF;
            color: #FFFFFF;
            text-indent: 30px;
            font-size: 25px;
            background-color: var(--color-third);
            outline: none;
            

            &::placeholder {
                color: white;
            }
        }
      
    }
    section.owl-carousel {
        div.owl-item {            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
            
            img.catalogue {
                height: 140px;
                width: 140px;
            }
        }  
        div.owl-nav {
            position: relative;
            top: -99px;
            display: flex;
            justify-content: space-between;
            button {
                transition: transform 0.2s ease-in;
                span {
                    display: flex;
                    height: 40px;
                    width: 40px;
                    text-indent: -9999px;
                }
            }
            button:is(:hover) {
                background-color: transparent;
            }
            button.owl-prev {
                span {
                   background: url(../images/vector-prev.svg) no-repeat center; 
                }
            }
            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }
            button.owl-next {
                span {
                   background: url(../images/vector-next.svg) no-repeat center; 
                }
            }    
            button.owl-next:hover {
                transform: scale(1.1) translateX(4px);
            }
        }    
}

}
div.containerCarrusel {
        
    
    h2.category {
      
      font-size: 24px;
      text-indent: 30px;
      margin-top: 0.1rem;
    }
  }

  section.owl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    figure {
      h2 {
        font-family: var(--ff-heading);
        font-size: 20px;
      }
    }


    p {
      font-family: var(--ff-body);
      color: var(--color-five);
    }

    div.owl-item {
      display: flex;
      flex-direction: center;
      justify-content: center;
      margin-top: 1rem;

      img.catalogue {
        height: 140px;
        width: 140px;
        margin: 0px;
      }
    }

  }

  
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    a:is(:link, :visited){
        background: url(../images/btn.png.png) no-repeat center;
        height: 60px;            
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.8rem;
        transition: all 0.3s ease-in;
        width: 300px;            
    }
    a:is(:hover){
        background: url(../images/btn-hover.png.png) no-repeat center;
        transform: scale(1.02) translateY(-5px);
    }
    a:is(:active){
        background: url(../images/btn-active.png.png) no-repeat center;
    }
} */